.Main {
    height: 100vh;
    width: 100vw;
    background-image: url('https://wallpaperbat.com/img/9723449-villa-wallpaper-free-villa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}