.Home_Main{
    height: 100vh;
    
    
    background-image: url('https://wallpaperbat.com/img/9723449-villa-wallpaper-free-villa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.Home_Main>  h1{
    color: white;
    text-align: center;
    /* padding: 250px; */
    font-size: 50px;
}
.Hero_Section{
    height: 500px;
    border: 1px solid blue;
}
.Home_bottom{
    height:50px;
    
}