.backbtn{
    margin-left: -450%;
    background-color: rgb(78, 128, 235);
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top: 20px;
    
}

.Lmain{
    background-color: rgb(5, 16, 46);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.Lcenter{
    background-color:black;
    border-radius: 10%;
    height: 70vh;
    width: 30vw;
    box-shadow: 0px 0px 30px violet;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Lcenter:hover{
    animation :animate 1s linear infinite
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}
.Lcenter > h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 10%;
    

}
.Lcenter1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}
.Lcenter1 > input{
    background: transparent;
    padding: 3% 20%;
    color: white;
    border-bottom: 1px solid white;
    margin-top: 5%;
    
}
.Lcenter1>button{
    padding: 3%;
    background-color: rgba(63, 169, 244, 0.825);
    width: 50%;
    border-radius: 20px;
    

}

.mess{
    align-items: center;
}