.MainNav{
    background-color:rgba(62, 199, 245, 0.34);
    box-shadow: 5px 5px 5px black;
    height: 70px;
    
    position: sticky;
    top: 2%;
    
}
.Innerdiv{
    display: flex;
    position: relative;
    top: 25%;
    justify-content: space-between;
    gap: 4%;
}
.Nav_left > img{
    position: relative;
    top: -25px;
}
.Nav_center{
    display: flex;
    
    gap: 30px;
}
.Nav_right{
    display: flex;
    position: relative;
    right: 20px;
    gap: 30px;
    
}
.btn{
    background-color: rgba(234, 223, 223, 0.352);
    /* padding: 15% 20%; */
    padding: 10px;
    text-decoration: none;
    border: none;
    box-shadow: 5px 5px 5px black;
    
}
.right_btn{
    border-radius: 20px;
}
