.MainNav{
    background-color:rgba(255, 255, 255, 0.334);
    box-shadow: 5px 5px 5px black;
    height: 50px;
    
    position: sticky;
    top: 2%;
    
}
.Innerdiv{
    display: flex;
    position: relative;
    top: 25%;
    justify-content: center;
    gap: 4%;
}
.btn{
    background-color: rgba(234, 223, 223, 0.352);
    /* padding: 15% 20%; */
    padding: 15%;
    text-decoration: none;
    border: none;
    box-shadow: 5px 5px 5px black;
}